<body class="mat-typography">
  <div class="container-fluid text-center" style="margin-top: 75px">
    <div class="row">
      <div class="col">
        <h1 class="mt-5" style="color: #ff0000">404</h1>
        <hr />
        <h2 class="mb-4">Page Not Found</h2>
        <h3>Oops!</h3>
        <p class="mb-4">
          It seems you've found the doorway to the great nothingness.
        </p>

        <p>Fear not!</p>

        <p>The great nothingness is pretty harmless.</p>
        <hr />
        <a routerLink="/"  class="btn btn-primary fs-2 animated-404"
          >Take Me Home</a
        >
      </div>
    </div>
  </div>
</body>
