<div class="centered-container bg-dark text-white text-center" #myDiv (onmouseover)="startAnimation()">
  <div class="col splash-screen d-flex flex-column align-items-start justify-content-center">
    <div></div>
    <div class="w-100 text-start">
      <div class="d-flex align-items-center">
        <h1 class="mb-0" style="font-size: 3em;" [innerText]="name"></h1>
        <h2 class="mb-0" style="font-size: 3em;">|</h2>
      </div>
    </div>
    <div class="text-start text-white mt-2">
      <p class="fs-3 easein-p" >Software Engineer at SumUp</p>
      <p class="easein-p">- Typescript, React, NextJS, Tailwind</p>
      <p class="easein-p">- Go, Python, Node.js, Java</p>
      <p class="easein-p">- PostgreSQL, SQLAlchemy, REST APIs</p>
    </div>
    <div #myDetails class="social-icons d-flex mt-2 flex-row flex-md-col justify-content-center align-items-center">
      <a href="https://www.linkedin.com/in/brad-burzon/" class="mb-2 mb-sm-0 me-sm-3 m-2" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/bradburzon?tab=overview&from=2024-03-01&to=2024-03-12"
        class="mb-2 mb-sm-0 me-sm-3 m-2" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="../assets/BradMikeBurzon_Resume.pdf" class="mb-2 mb-sm-0 me-sm-3 m-2 mt-0" target="_blank">
        <button class=" btn-see-resume " style="font-size: 0.85em; font-weight: 800; text-transform: lowercase;">
          resume
        </button>
      </a>
    </div>
  </div>
</div>