<div class="centered-container" #myDiv (onmouseover)="startAnimation()">
  <div
    class="col splash-screen d-flex flex-column align-items-start justify-content-center"
  >
    <div></div>
    <div class="w-100 text-start">
      <div class="d-flex align-items-center">
        <h1 class="mb-0" [innerText]="name"></h1>
        <h2 class="mb-0">|</h2>
      </div>
    </div>
    <div class="text-start mt-2">
      <span class="fs-3">SumUpper</span>
      <p>- Junior Software Engineer</p>
      <p>- Java, Web, Android, Git, Agile, JUnit</p>
      <p>- Deployed a robust ordering system handling 5,000+ orders.</p>
    </div>
    <div
      class="social-icons d-flex mt-2 flex-column flex-sm-row justify-content-center align-items-center"
    >
      <a
        href="https://www.linkedin.com/in/brad-burzon/"
        class="mb-2 mb-sm-0 me-sm-3"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a
        href="https://github.com/bradburzon?tab=overview&from=2024-03-01&to=2024-03-12"
        class="mb-2 mb-sm-0 me-sm-3"
        target="_blank"
      >
        <i class="fab fa-github"></i>
      </a>
      <a
        href="../assets/BradMikeBurzon_Resume.pdf"
        class="mb-2 mb-sm-0 me-sm-3"
        target="_blank"
      >
        <button class="btn btn-see-resume my-auto" style="font-size: 0.7em">
          Resume
        </button>
      </a>
    </div>
  </div>
</div>
