<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a routerLink="/home" class="navbar-brand" style="font-size: 1.5em">
      <img
        src="favicon.png"
        alt="Brad Burzon"
        class="nav-icon d-inline-block align-text-top"
      />
      brad burzon
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0" style="font-size: 1.5em">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >home</a
          >
        </li>
        <li class="nav-item">
          <!-- For navigation to a component or path -->
          <a
            class="nav-link"
            routerLink="/skills"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >skills</a
          >
        </li>
        <li class="nav-item">
          <!-- If you had a Projects component and wanted to navigate to it -->
          <!-- <a class="nav-link" routerLink="/projects">Projects</a> -->
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item my-auto">
          <a
            class="nav-link"
            href="https://www.linkedin.com/in/brad-burzon"
            target="_blank"
          >
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li class="nav-item my-auto">
          <a
            class="nav-link"
            href="https://github.com/bradburzon"
            target="_blank"
          >
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li class="nav-item my-auto">
          <a
            class="nav-link"
            href="../assets/BradMikeBurzon_Resume.pdf"
            target="_blank"
          >
            <button><span style="font-size: 1.5em">resume</span></button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
