<div
  class="splash-screen d-flex flex-column align-items-center justify-content-center text-center vh-100"
>
  <img
    src="../assets/headshot.jpg"
    class="rounded-circle mb-3"
    style="
      height: 300px;
      width: 300px;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 5px;
    "
  />
  <div class="name-row bg-white bg-opacity-75 p-2 rounded mb-3">
    <h1 class="display-1">Brad Mike Burzon</h1>
    <!-- Bootstrap's largest heading class -->
  </div>

  <div
    class="links-row d-flex justify-content-around align-items-center bg-white bg-opacity-75 p-2 rounded"
  >
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 mb-2">
          <a
            href="https://www.linkedin.com/in/brad-burzon/"
            class="btn btn-link btn-lg custom-large-btn w-100"
            target="_blank"
            style="font-size: 2em;"
            >LinkedIn</a
          >
        </div>
        <div class="col-12 col-md-4 mb-2">
          <a
            href="https://github.com/bradburzon"
            class="btn btn-link btn-lg custom-large-btn w-100"
            target="_blank"
            style="font-size: 2em;"
            >GitHub</a
          >
        </div>
        <div class="col-12 col-md-4 mb-2">
          <a
            href="..\assets\BradMikeBurzon_Resume.pdf"
            class="w-100"
            target="_blank"
           
          >
            <button class="btn btn-primary btn-lg custom-large-btn w-100 "  style="font-size: 1.52em;">
              View My Resume
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
