<div class="sidebar-sticky d-flex flex-column vh-50">
  <div class="profile-content text-center mb-auto">
    <div class="d-flex flex-column align-items-center text-center p-2 py-0">
      <img
        src="../assets/headshot.jpg"
        alt="Brad Mike Burzon"
        class="rounded-3 mb-3 img-fluid"
        style="max-width: 200px; background-color: rgba(255, 255, 255, 0.5)"
      />
      <div class="info bg-white bg-opacity-75 px-2 rounded mb-2 w-100">
        <h2>Brad Mike Burzon</h2>
      </div>
      <div class="links bg-white bg-opacity-75 p-2 rounded mb-2 w-100">
        <a
          href="https://www.linkedin.com/in/brad-burzon/"
          class="btn btn-link mb-1"
          target="_blank"
          style="font-size: 1.5em"
          >LinkedIn</a
        >
        <a
          href="https://github.com/bradburzon"
          class="btn btn-link mb-1"
          target="_blank"
          style="font-size: 1.5em"
          >GitHub</a
        >
        <a
          href="../assets/BradMikeBurzon_Resume.pdf"
          class="btn btn-primary mb-1"
          target="_blank"
          style="font-size: 1.5em"
          >View My Resume</a
        >
      </div>
    </div>
    <div class="d-flex flex-column align-items-center text-center px-2">
      <div class="links bg-white bg-opacity-75 p-2 rounded mb-2 w-100">
        <a href="#home" class="btn btn-link mb-1" style="font-size: 1.5em"
          >Home</a
        >
        <a href="#skills" class="btn btn-link mb-1" style="font-size: 1.5em"
          >Skills</a
        >
        <a href="#projects" class="btn btn-link mb-1" style="font-size: 1.5em"
          >Projects</a
        >
      </div>
    </div>
  </div>
</div>
