<div
  class="skills-section col-12 col-md-8 text-center text-md-start mx-auto p-3"
  style="background-color: rgba(255, 255, 255, 0.75); border-radius: 0.3rem"
>
  <h2 class="text-center mb-4">Programming Languages</h2>

  <!-- Years of experience scale -->
  <div class="row mb-2">
    <div class="col-3"></div>
    <div class="col-8 d-flex justify-content-between">
      <span>0</span><span>2</span><span>4</span><span>6</span>
    </div>
  </div>

  <div class="skills-container">
    <div
      *ngFor="let skill of programmingLanguages"
      class="row my-3 align-items-center"
    >
      <span
        class="col-3"
        style="color: #000000; font-size: 1.2rem; font-weight: bold"
        >{{ skill.name }}:</span
      >
      <div class="col-8">
        <div class="progress" style="width: 100%; height: 20px">
          <div
            class="progress-bar progress-bar-animate moving-gradient"
            role="progressbar"
            [style.width]="(skill.yearsOfExperience / 6) * 100 + '%'"
            aria-valuenow="skill.yearsOfExperience"
            aria-valuemin="0"
            aria-valuemax="6"
          >
            {{ skill.yearsOfExperience }}
            {{ skill.yearsOfExperience > 1 ? "years" : "year" }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <h2 class="text-center mb-4">Tools & Technologies</h2>
  <div class="skills-container d-flex flex-wrap justify-content-start">
    <div
      *ngFor="let skill of toolsTechnologiesSkills"
      class="skill m-2 p-3 border rounded animate-on-hover"
      style="
        background-color: #000000;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        font-weight: bold;
      "
    >
      {{ skill.name }}
    </div>
  </div>
  <hr />
  <h2 class="text-center mb-4">Web Development</h2>

  <!-- Years of experience scale -->
  <div class="row mb-2">
    <div class="col-3"></div>
    <div class="col-8 d-flex justify-content-between">
      <span>0</span><span>2</span><span>4</span><span>6</span>
    </div>
  </div>

  <div class="skills-container">
    <div
      *ngFor="let skill of webDevelopmentSkills"
      class="row my-3 align-items-center"
    >
      <span
        class="col-3"
        style="color: #000000; font-size: 1.2rem; font-weight: bold"
        >{{ skill.name }}:</span
      >
      <div class="col-8">
        <div class="progress" style="width: 100%; height: 20px">
          <div
            class="progress-bar progress-bar-animate moving-gradient"
            role="progressbar"
            [style.width]="(skill.yearsOfExperience / 6) * 100 + '%'"
            aria-valuenow="skill.yearsOfExperience"
            aria-valuemin="0"
            aria-valuemax="6"
          >
            {{ skill.yearsOfExperience }}
            {{ skill.yearsOfExperience > 1 ? "years" : "year" }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <h2 class="text-center mb-4">Soft Skills</h2>
  <div class="skills-container d-flex flex-wrap justify-content-start">
    <div
      *ngFor="let skill of softSkills"
      class="skill m-2 p-3 border rounded"
      style="
        background-color: #000000;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        font-weight: bold;
      "
    >
      {{ skill.name }}
    </div>
  </div>

  <hr />
  <h2 class="text-center mb-4">Collaboration Skills</h2>

  <!-- Years of experience scale -->
  <div class="row mb-2">
    <div class="col-3">Skill</div>
    <div class="col-8 d-flex justify-content-between">
      <span>0</span><span>2</span><span>4</span><span>6</span>
    </div>
  </div>

  <div class="skills-container">
    <div
      *ngFor="let skill of collaborationAgileSkills"
      class="row my-3 align-items-center"
    >
      <span
        class="col-3"
        style="color: #000000; font-size: 1.2rem; font-weight: bold"
        >{{ skill.name }}:</span
      >
      <div class="col-8">
        <div class="progress" style="width: 100%; height: 20px">
          <div
            class="progress-bar progress-bar-animate moving-gradient moving-gradient"
            role="progressbar"
            [style.width]="(skill.yearsOfExperience / 6) * 100 + '%'"
            aria-valuenow="skill.yearsOfExperience"
            aria-valuemin="0"
            aria-valuemax="6"
          >
            {{ skill.yearsOfExperience }}
            {{ skill.yearsOfExperience > 1 ? "years" : "year" }}
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
