<!DOCTYPE html>
<html lang="en">
{% include header.html %}
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="shortcut icon" type="image/png" href="favicon.png">
<body>
  <div class="container">
    <div class="row">
      <div class="col-xl-3">
        {% include top-header.html %}
      </div>
    <div class="col-xl-9">
      <img width="100%" class="img-fluid float-right d-none d-sm-block" src="images/intro-img.png">
    </div>
    </div>
  </div>
  {% include navigation.html %}

      <!--CONTENT BELOW -->
  <div class="container">
        <a href="https://bradburzon.com/posts/"> <p align="center"><img class="img-fluid" width="800px" src="images/bulb.jpg"></p></a>
        {{ content }}

        <br >
  </div>
  {% include footer.html %}
</body>
</html>
