<!DOCTYPE html>
<html lang="en">
  <head>
    {% include_cached header.html %}
    <!-- custom header links -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    {% seo %}
  </head>
  <body class="container">
    <header>
    {% include_cached top-header.html %}
    {% include_cached navigation.html %}
    </header>
    <!--CONTENT BELOW -->
    <main class="main">
      <article>
          {{ content }}
      </article>
    </main>
    <br >
    <!--CONTENT ABOVE -->
    <footer id="footer-override" class="container text-center footer fixed-bottom ">
      {% include_cached footer.html %}
    </footer>
  </body>
</html>
