<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/custom.css">
    <link rel="shortcut icon" type="image/png" href="../favicon.png">
    {% seo %}
  </head>
  <body class="container">
    <header>
    {% include navigation.html %}
    </header>

    <!--CONTENT BELOW -->
    <main>
      <article>
        <h1 align="center"> {{ page.title }} </h1>
        {{ content }}
      </article>
    </main>

    <!--CONTENT ABOVE -->
    <br >
    <footer id="footer-override" class="footer fixed-bottom container">
      {% include footer.html %}
    </footer>
  </body>
</html>
