<!DOCTYPE html>
<html lang="en">
  <head>
    {% include_cached header.html %}
        <!-- custom header links -->
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../css/custom.css">
    <link rel="shortcut icon" type="image/png" href="../../favicon.png">
    {% seo %}
  </head>
  <body class="container">
    <header>
    {% include_cached navigation.html %}
    </header>

    <!--CONTENT BELOW -->
    <main>
      <article>
        <h1 align="center"> {{ page.title }} </h1>
        {{ content }}
      </article>
    </main>
    <!--CONTENT ABOVE -->

    <br >
    {% include_cached disqus.html %}
    <br >
    <footer id="footer-override" class="footer fixed-bottom container">
      {% include_cached footer.html %}
    </footer>
  </body>
</html>
