/* General Styles */
body, h1, p {
  font-family: 'Roboto', sans-serif;
  color: #333; /* Dark grey for text for better readability */
}

.container-fluid {
  background-color: #FFF; /* White background */
}