/* General Styles */
body,
h1,
p {
  font-family: 'Roboto', sans-serif;
  color: #e5e0e0;
  /* Dark grey for text for better readability */
  background-color: #000000;
  margin: 0;
}

.container-fluid {
  background-color: #000000;
  /* White background */
}