<div class="container-fluid">
  <div class="row">
    <div class="col-12 vh-100">
      <app-splash></app-splash>
      <!-- App splash takes the whole page on start up-->
    </div>
  </div>
  <div class="row flex-nowrap">
    <div class="col-md-3 bg-dark d-none d-md-block sidebar-sticky">
      <app-sidebar></app-sidebar>
      <!-- Sidebar -->
    </div>
    <div class="col-md-9 col-12">
      <!-- Content that moves when scrolling -->
      <div
        class="row vh-100 d-flex align-items-center justify-content-center text-white"
        id="home"
        style="background-color: #78a1bb"
      >
        <div class="col-12 col-md-8 text-center text-md-start">
          <h1>Hello, My name is Brad Mike.</h1>
          <p
            class="lead mt-4 bg-opacity-75 p-3 rounded"
            style="background-color: rgba(255, 255, 255, 0.5)"
          >
            Thank you for visiting! As a passionate software developer, I
            specialize in bringing innovative solutions to complex challenges.
            Whether it's developing seamless applications or enhancing user
            experience, my goal is to make a significant impact through my work.

            <span
              ><strong> Check out my skills and projects below.</strong></span
            >
          </p>
        </div>
      </div>

      <div
        class="row d-flex align-items-center justify-content-center"
        id="skills"
        style="background-color: #283044"
      >
        <app-skills></app-skills>
      </div>

      <div class="row" id="projects" style="background-color: #78a1bb">
        <app-projects></app-projects>
      </div>

      <div class="row" style="background-color: #283044">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
